%div.card
  %div.card-header
    %div.d-flex.justify-content-between.align-items-center
      %h1 Add a new task
      %a.btn.btn-primary{ href: project_path(@project) } Back
  %div.card-body
    = render 'form'

