%div.card.mx-5
  %div.card-header
    %div.d-flex.justify-content-between.align-items-center
      %h1= 'Edit ' + @project.name
      %a.btn.btn-primary{ href: projects_path } Back
  %div.card-body
    = render 'form'
